# Ignore project IDE files
.idea

# Ignore node_modules
node_modules

# Ignore Mac OS X files
.DS_Store

# Ignore local notes folder
notes

$ Ignore the .env file for the server
.env

# Ignore local logs
*.log

dist
